<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <span>Your name:</span>
    <input type="text" v-model="title">
    <input type="text" v-model="name">
    <input type="text" v-model="surname">
    <button v-on:click="myName()">Zapisz i wyświetl</button>

  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        title:'title',
        name: 'name of writer',
        surname:'surname of writer'
      },
      methods: {
        myName: function() {
          console.log(this.title);
          console.log(this.name);
          console.log(this.surname);
        }
      }

    });
  </script>

</body>
</html>
